@import "tailwindcss";

:root {
  --background: #1E201E;
  --bgSoft: #3C3D37;
  --foreground: #fff;
  --foreSoft: #e6e1da;
  --btn: #3673fd;
  --btnLogout: #9e0909;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}